
body {
    margin: 0em;
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #FFFDE4, #005AA7) !important;
    font-family: 'Barlow';
    flex-direction: column;
    width: 100%;
}

.fcol {
    background-color: #d8e2dc;
}

#password_container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-grow: 1;
}
    #password_form {
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding: 2em;
        border-radius: 10px;
        background-color: #d8e2dc;
        border: 1px solid #caffbf;
    }

        #old_password_label {
            margin-top: 0em;
        }

        .password_label {
            font-size: 1.2em;
            text-align: left;
            width: 100%;
            margin-top: 1em;
        }

        .password_text {
            font-size: 1.2em;
            width: 100%;
            box-sizing: border-box;
            /*border-radius: 0.2em;*/
            border: none;
        }

        .login_error_message_active {
            margin-top: 1em;
            padding: 1em;
            background-color: #f56363;
        }

        #change_password_btn {
            font-family: 'Barlow';
            font-size: 1.2em;
            margin-top: 1em;
            padding: 1em;
        }

        #change_password_btn:hover {
        }
